llama-index==0.10.57
llama-index-vector-stores-chroma==0.1.10
llama-index-embeddings-openai==0.1.11
llama-index-readers-llama-parse==0.1.6
llama-parse==0.4.0
chromadb==0.5.3
openai==1.35.3
datasets==2.20.0
python-dotenv==1.0.1
anthropic==0.34.2
rouge-score==0.1.2
ragas==0.1.21
langchain==0.2.16
langchain-openai==0.1.25
